@import "../../styles/variables.scss";

.cart {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    h2 {
        text-align: center;
    }

    
    .cart-items {
        
    }

    .checkout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 0;

        .total-price {
            font-size: 18px;
            color: $color-secondary;
            font-weight: bold;
        }
    }
}
