@import "../../styles/variables.scss";
.product {
    height: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 35px 0 rgba(50,50,93,.1);
    background-color: white;
    position: relative;

    .image {
        max-height: 136px;
        object-fit: cover;

        @media (min-width: $mobile) {
            max-height: 60px;
        }
    }

    .favorite-icon {
        position: absolute;
        right: 4px;
        top: 4px;
        cursor: pointer;
        mask-image: url(/heart.svg);
        height: 24px;
        width: 24px;
        background-color: white;
        transition: all 0.3s ease;

        &:hover {
            mask-image: url(/heart-filled.svg);
            background-color: red;
        }

        &.favorite {
            mask-image: url(/heart-filled.svg);
            background-color: red;
        }
    }

    .content {
        padding: 8px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .header {

            .name {
                font-weight: bold;
                text-align: left;
                font-size: 14px;
                margin-right: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }

            .price {
                font-size: 13px;
                color: $color-secondary;
                font-weight: 600;
            }
        }
    
        .description {
            display: none;

        }
    
        .footer {
            display: none;
        }

        @media (min-width: $mobile) {
            .header {
                display: flex;
                justify-content: space-between;
                .name {
                    font-size: 18px;
                }
            }

            .price {
                font-size: 16px;
            }

            .description { 
                font-size: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }

            .footer {
                display: flex;
                justify-content: space-between;
                margin-top: auto;
                margin-bottom: 0;
                align-items: center;

                .stock {
                    font-size: 12px;
                }
            }
        }
    }


    
}