@import "../../styles/variables.scss";

.floating-link {
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: $color-primary;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}